USER=root
HOST=localhost
DATABASE=test
PASSWORD=''
#if your DB have password then put in above password fields
PORT=5432
NEWS_API_KEY=9609fcee237c4cb18b86f7bab861582f
WEATHER_API_KEY=8ea9b176485d5deccb0e98af02ae90c8
WEATHER_API_URL=https://api.openweathermap.org/
PORT=5000